div.MaskedInputContainer
{
    min-height: 18px;
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    background-color: #ffffff;
    border: solid 1px #a6a6a6;
    padding: 0 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
div.MaskedInputContainer input
{
    margin: 0;
    border: none;
    background-color: #ffffff;
}